.note-heading {
    font-family: 'Pacifico', cursive;
    font-size: 60px;
}

.text-center{
    text-align: center;
}

.note-title {
    font-family: 'Cabin', sans-serif;
    font-size: 18px;
}

.note-label {
    font-family: 'Cabin', sans-serif;
    font-size: 16px;
}

body {
    background-color: #fffffa;
}

.top-buffer {
    margin-top: 20px;
}

.pull-right > a, .pull-right > button {
    border: 0;
}

.glyphicon {
    cursor: pointer;
    color: white;
}